@model IEnumerable<_6SemCursach.Data.Models.Course>

@{
    ViewData["Title"] = "CourseForCurrentlyStudent";
}

<h1>CourseForCurrentlyStudent</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
    }
    </tbody>
</table>
