
@{
    ViewData["Title"] = "Index";
}

<h2>Выберите действие</h2>

<a asp-action="DownloadCoursesInFile" asp-controller="Course">Загрузить список курсов в файл</a>
<br>
<a asp-action="DownloadCoursesInPdfFile" asp-controller="Course">Загрузить список курсов в  PDF файл</a>
<br>
<a asp-action="ListCourses" asp-controller="Course">Открыть список курсов</a>


