@using Microsoft.AspNetCore.Mvc.ModelBinding.Binders
@model List<_6SemCursach.BusinessLogic.Models.CourseForStudent>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses for student</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Price)
                </td>
                @if (!item.CourseIsListBought)
                {
                    <td>
                        <input type="button" title="Buy" value="Купить курс" onclick="location.href = '@Url.Action("BuyCourse", "Student", item)'" />
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
