
@*@{
    ViewData["Title"] = "Courses";
}*@

<h3>Courses</h3>


<a asp-action="ListCourses" asp-controller="Course">Список всех курсов</a>
<a asp-action="AddCourse" asp-controller="Course">Добавить курс</a>
<a asp-action="AddCoursesFromFile" asp-controller="Course">Добавить курсы из файла</a>
