
@*@{
    ViewData["Title"] = "Courses";
}*@

<h3>Courses</h3>


<a asp-action="ListCourses" asp-controller="Course">Список всех курсов</a>
<a asp-action="AddCourse" asp-controller="Admin">Добавить курс</a>
<a asp-action="Teachers" asp-controller="Admin">Добавить курсы из файла</a>
