

<h2>Доступные категории</h2>

<a asp-action="Courses" asp-controller="Admin">Курсы</a>
<a asp-action="Students" asp-controller="Admin">Студенты</a>
<a asp-action="Teachers" asp-controller="Admin">Преподы</a>


<input type="button" title="Courses" value="D" onclick="location.href = '@Url.Action("Courses", "Admin")'" />


