

<h2>Доступные списки</h2>

<a asp-action="ListCources" asp-controller="Cource">Курсы</a>
<a asp-action="Students" asp-controller="Admin">Студенты</a>
<a asp-action="Teachers" asp-controller="Admin">Преподы</a>


